* {
	font-family: sans-serif;
}



main {
	background-color: #00FF00;
	position: relative;
	font-size: 1em;
	}

div {
    position: fixed;
    text-align: center;
   margin-left: 25%;
   margin-right: auto;
   width: 50%;
   font-size: 2em;
   overflow: auto;
}

.center {
	text-align: center;
	font-size: 2em;
	right: 20%;
}


 
.resize  {
    position: relative;
    float: left;
    width:  300px;
    height: 300px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

table {
	margin-left: auto;
	margin-right: auto;
}

#bottomtable {
	margin-left: 150px;
}

.btt {
	margin-left: 175px
}

